<% const forecastAction = forecast.accountingType %>
<% let accounts = user.accounts %>
<% if (forecastAction === 'debit') accounts = accounts.filter(a => a.balanceType === 'asset') %>

<div class="container">
  <div class="row justify-content-center mt-5">
    <p>
      Convert forecast to transaction
    </p>
    <form action="<%= forecast._id %>" method="post">
      <!-- Account To Post To -->
      <p>
        <label for="account">Account</label>
        <select name="account" id="account">
          <% for (let i = 0; i < accounts.length; i ++) { %>
            <option value="<%= accounts[i]._id %>"><%= accounts[i].name %> | Available: <%= user.currency %><%= accounts[i].currentBalance %></option>
          <% } %>
        </select>
      </p>      
      
      <!-- Transaction Amount -->
      <p>
        <label for="amount">
          <%= forecastAction === 'debits' ? 'Getting paid' : 'Spending' %> how much?
        </label>
        <input type="number" step="0.01" min="0" name="amount" id="amount" autocomplete="off" value="<%= forecast.amount %>">
      </p>

      <!-- Category -->
      <p>
        <label for="category">
          Category: <%= forecast.category.name %>
        </label>
        <input type="hidden" name="category" id="category" value="<%= forecast.category.name %>">
      </p>

      <input type="hidden" name="accountingType" id="accountingType" value="<%= forecast.accountingType %>">

      <%- include('formsubmitcancelbuttons') -%>
    </form>
  </div>
</div>