<% let transactionDebit = '' %>
<% let transactionCredit = '' %>
<% if (account.balanceType === 'asset') { %>
  <% transactionDebit = 'deposit' %>
  <% transactionCredit = 'spend' %>
<% } else { %>
  <% transactionDebit = 'pay down' %>
  <% transactionCredit = 'spend' %>
<% } %>

<div class="container">
  <div class="row justify-content-center mt-5">
    <!-- Account To Post To -->
    <p>
      Post a transaction to <span id="account-data" data-account-sub-type="<%= account.subType %>"><%= account.name %></span>
    </p>

    <p>
      Current Balance: <strong><%= user.currency %><span id="currentBalance"><%= account.currentBalance %></span></strong>
    </p>
    <form action="../post/<%= account._id %>/null" method="post">
      <!-- Type -->
      <input type="hidden" name="account" value="<%= account._id %>">

      <p>
        <label for="accountingType">What are you doing with this transaction?</label>
        <select name="accountingType" id="accountingType">
          <option value="debits">
            <%= transactionDebit %>
          </option>
          <option value="credits">
            <%= transactionCredit %>
          </option>
        </select>
      </p>
      
      
      <!-- Transaction Amount -->
      <p>
        <label for="amount">
          How much?
        </label>
        <input type="number" step="0.01" min="0" name="amount" id="amount" placeholder="00.00" autocomplete="off">
      </p>
      
      <!-- Category -->
      <p>
        <label for="category">
          Category: 
        </label>
        <input type="text" name="category" id="category" list="categories" autocomplete="off">
        <datalist id="categories">
          <% if (user.categories.length > 0) { %>
            <% for (let i = 0; i < user.categories.length; i++) { %>
              <option value="<%= user.categories[i].name %>">
            <% } %>
          <% } %>
        </datalist>
      </p>

      <%- include('formsubmitcancelbuttons') -%>
    </form>
  </div>
</div>