<% let sortedForecasts = null %>
<% if (user.forecasts.length > 0) {%>
    <% sortedForecasts = user.forecasts.sort((a, b) => a.date - b.date) %>
<% } %>
<% const today = new Date() %>
<% const offset = today.getTimezoneOffset() %>
<% const totalAssets = user.accounts.reduce(function(accumulator, account) { %>
    <%  return (account.balanceType === 'asset') ? accumulator + Number(account.currentBalance) : accumulator %>
<%  }, 0) %>
<% let runningTotal = totalAssets %>

<!-- Display available funds until next inflow net of forecasted outflows -->
<div class="col-md-12 col-lg-10">

    <h5 class="dash-heading">Forecasts</h5>
    
        <ul class="list-unstyled forecasts-dash">
            <% if (sortedForecasts) {%>
                <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4 card-columns">
                    <% for (let i = 0; i < sortedForecasts.length + 1; i++) {%>
                        <% const currentForecast = sortedForecasts[i] %>
                        <% if (!sortedForecasts[i]) { %>
                            <%- include('../components/createForecastTile') %>
                        <% } else { %>
                            <% if (currentForecast.accountingType === 'debits') { %>
                                <% runningTotal += Number(currentForecast.amount) %>
                            <% } else { %>
                                <% runningTotal -= Number(currentForecast.amount) %>
                            <% } %>
                            <%- include('../components/forecastTile', {currentForecast: sortedForecasts[i], currency: user.currency, today: today, offset: offset, formatRelative: formatRelative, addMinutes: addMinutes, runningTotal: parseFloat(runningTotal).toFixed(2) }) -%>
                        <% } %>
                    <% } %>
                </div>
            <% } else { %>
                <div class="row">
                    <p>You have currently have <%= user.currency %><%= totalAssets %> in checking, savings, and cash.</p>
                    <p>Click the button below to forecast to see how bills and commitments affect how much you actually have to spend until you next get paid.</p>
                </div>
                <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4 card-columns">
                    <%- include('../components/createForecastTile') %>
                </div>
        </ul>
    
        
    <% } %>

</div>
