<% const thisBalance = account.currentBalance %>

<a href="/account/<%= account._id %>">
    <li class="list-group-item account-tile d-flex justify-content-between" data-type="account" data-action="read" data-account-id="<%= account._id %>">
        <div class="account-name">
            <%= account.name %>
        </div>
        <div class="d-flex align-self-center justify-content-between">
            <span class="align-self-center">
                <%= currency %><%= thisBalance %>
            </span>
            <span>
                <%- include('./button/createTransactionaButton') -%>
            </span>
        </div>
    </li>
</a>
