<li class="list-group-item account-tile" id="<%= account._id %>">
        <%= account.name %>
        <% const thisBalance = account.currentBalance %>
        <%= currency %><%= thisBalance %>
        <a href="/transaction/post/<%= account._id %>" class="show-transaction-form">+</a>
</li>