<% const thisBalance = account.currentBalance %>
<a href="/account/<%= account._id %>">

    <li class="list-group-item account-tile d-flex justify-content-between" id="<%= account._id %>">
        <div>
            <%= account.name %>
        </div>
        <div class="d-flex align-self-center justify-content-between">
            <span class="align-self-center">
                <%= currency %><%= thisBalance %>
            </span>
            <span>
                <%- include('./button/createTransactionaButton', { accountId: account._id }) -%>
            </span>
        </div>
    </li>

</a>