<button
    class="btn<%= (btn.hasOwnProperty('class')) ? ' ' + btn.class : '' %>"
    <%= (btn.hasOwnProperty('type')) ? "type=" + btn.type : '' %>
    <%= (btn.hasOwnProperty('formaction')) ? "formaction=" + btn.formaction : '' %>
    <%= (btn.hasOwnProperty('formmethod')) ? "method=" + btn.formmethod : '' %>
>
    <% if (btn.hasOwnProperty('icon')) { %>
        <i class="<%= btn.icon.class %>"></i>
    <% } %>
    <%= (btn.hasOwnProperty('icon') && btn.hasOwnProperty('text')) ? ' ' : '' %>
    <%= (btn.hasOwnProperty('text')) ? btn.text : '' %>
</button>