<button
    class="btn<%= (btn.hasOwnProperty('class')) ? ' ' + btn.class : '' %>"
    <% if (btn.hasOwnProperty('type')) { %>
        <%= "type=" + btn.type %>
    <% } %>
    <% if (btn.hasOwnProperty('formaction')) { %>
        <%= "formaction=" + btn.formaction %>
    <% } %>
    <% if (btn.hasOwnProperty('formmethod')) { %>
        <%= "method=" + btn.formmethod %>
    <% } %>
>
    <% if (btn.hasOwnProperty('icon')) { %>
        <%= btn.icon %>
    <% } %>
    <% if (btn.hasOwnProperty('text')) { %>
        <%= btn.text %>
    <% } %>
</button>