<% let plusMinus = null %>
<% if (currentForecast.accountingType === 'debits') { %>
    <% plusMinus = '+' %>
<% } else { %>
    <% plusMinus = '-' %>
<% } %>

<li class="col forecast-tile my-1" data-type="forecast">
    
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">
                        <%= formatRelative(addMinutes(currentForecast.date, offset), today).split(' at ')[0] %>
                    </h5>
                </div>
                <div class="col">
                    <div class="card-text">
                        <span><%= plusMinus %><%= currency %><%= currentForecast.amount %></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <small class="text-muted">
                <%= currentForecast.category.name %>    
            </small>
        </div>
                
    </div>

    <!-- <form action="/forecasts/updateForecast/<%= currentForecast._id %>" method="get">
        <button class="edit-forecast btn btn-secondary"><i class="fa-solid fa-pen"></i></button>
    </form>
    <form action="/forecasts/deleteForecast/<%= currentForecast._id %>?_method=DELETE" method="post">
        <button class="delete-forecast btn btn-secondary"><i class="fa-solid fa-trash"></i></button>
    </form>
    <form action="/forecasts/convertForecast/<%= currentForecast._id %>" method="get">
        <button class="btn btn-primary convert-forecast"><i class="fa-solid fa-receipt"></i></button>
    </form> -->

</li>