<% let plusMinus = null %>
<% if (currentForecast.accountingType === 'debits') { %>
    <% plusMinus = '+' %>
<% } else { %>
    <% plusMinus = '-' %>
<% } %>

<li class="col forecast-tile mb-1" data-type="forecast" data-forecast-id="<%= currentForecast._id %>">

    <div class="card h-100">

        <div class="card-body">
            <div class="row d-flex flex-column">
                <div class="col d-flex justify-content-between">
                    <h6 class="card-title d-flex justify-content-between forecastDate">
                        <%= formatRelative(addMinutes(currentForecast.date, offset), today).split(' at ')[0] %>
                    </h6>
                    <button type="button" class="btn-close delete-forecast" data-bs-toggle="modal" data-bs-target="#mainModal" data-action="delete" aria-label="Delete forecast"></button>
                </div>
                <div class="col">
                    <div class="card-text d-flex justify-content-between">
                        <span class="forecastAmount <%= plusMinus === '+' ? 'forecast-increase' : 'forecast-decrease' %>"><%= plusMinus %><%= currency %><%= currentForecast.amount %></span>
                        <span class="running-total-assets small text-muted"><%= currency %><%= runningTotal %></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <small class="col-8 text-muted align-self-center forecastCategory">
                <%= currentForecast.category.name %>
            </small>
            <small class="col-4 d-flex justify-content-between align-self-center">
                <button type="button" class="btn btn-secondary btn-sm convert-forecast" data-bs-toggle="modal" data-bs-target="#mainModal" data-action="convert" aria-label="Convert forecast to transaction"><i class="fa-solid fa-file-invoice-dollar"></i></button>
                <button type="button" class="btn btn-secondary btn-sm edit-forecast" data-bs-toggle="modal" data-bs-target="#mainModal" data-action="edit" aria-label="Edit forecast"><i class="fa-solid fa-pen"></i></button>
            </small>
        </div>
                
    </div>

</li>