<%- include('partials/header') -%>

<% let accountTransactions = [] %>
<% if (account.debits.length > 0) { %>
  <% accountTransactions = accountTransactions.concat(account.debits) %>
<% } %>
<% if (account.credits.length > 0) { %>
  <% accountTransactions = accountTransactions.concat(account.credits) %>
<% } %>
<% if (accountTransactions.length > 0) { %>
  <% accountTransactions.sort((a, b) => a.date - b.date) %>
<% } %>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= account.name %> <button class="edit-account btn btn-primary">edit account name</button></h2>
      <p>Account Type: <%= account.type[0].toUpperCase() + account.type.slice(1) %></p>
      <% if (accountTransactions.length > 0) { %>
        <p>Transactions</p>
        <ul>
          <% for (let i = 0; i < accountTransactions.length; i++) { %>
            <% let incDec = null %>
            <% const transaction = accountTransactions[i]%>
            <% let transactionFoundInDebits = false %>
            <% if (account.debits.length > 0) transactionFoundInDebits = account.debits.filter(t => t._id == transaction._id).length > 0 %>
            <% if (account.balanceType == 'asset') { %>
              <% if (transactionFoundInDebits) { %>
                <% incDec = "+" %>
              <% } else { %> 
                <% incDec = "-" %>
              <% } %>
            <% } else { %>
              <% if (transactionFoundInDebits) { %>
                <% incDec = "-" %>
              <% } else { %> 
                <% incDec = "+" %>
              <% } %>
            <% } %>
            <li>
              <span><%= transaction.date.toLocaleDateString('en-us') %></span> |
              <span><%= transaction.category.name %></span> |
              <span><%= incDec %><%= user.currency %><%= transaction.amount %></span>
              <button class="edit-transaction btn btn-primary">Edit</button>
              <button class="delete-transaction btn btn-secondary">Delete</button>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <p>No transactions so far</p>
      <% } %>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
