<%- include('components/header') -%>

<% let accountTransactions = [] %>
<% if (account.debits.length > 0) { %>
  <% accountTransactions = accountTransactions.concat(account.debits) %>
<% } %>
<% if (account.credits.length) { %>
  <% accountTransactions = accountTransactions.concat(account.credits) %>
<% } %>
<% if (accountTransactions.length) { %>
  <% accountTransactions.sort((a, b) => a.date - b.date) %>
<% } %>

<% const today = new Date() %>
<% const offset = today.getTimezoneOffset() %>

<div class="container d-flex flex-column align-items-center">

  <div class="row d-flex justify-content-between my-5 col-sm-12 col-lg-8">
    <div class="col-8 d-flex flex-column justify-content-between">
      <h2 class="d-flex align-items-center">
        <% if (!accountTransactions.length) { %>
          <form action="/account/deleteAccount/<%= account._id%>?_method=DELETE" method="POST">
            <button class="delete-account btn" type="submit"><i class="fa-solid fa-circle-minus"></i></button>
          </form>
        <% } %>
        <%= account.name %> 
        <form action="updateAccount/<%= account._id %>" method="get">
          <button class="edit-account btn"><i class="fa-solid fa-pen"></i></button>
        </form>
      </h2>
      <p>Account Type: <%= account.type[0].toUpperCase() + account.type.slice(1) %></p>
    </div>
    <div class="col-4 d-flex flex-column justify-content-between align-items-end">
      <h2><%= user.currency %><%= account.currentBalance %></h2>
      <p>Available Balance</p>
    </div>
  </div>
  <div class="row col-sm-12 col-lg-8">
    <p>Transactions</p>
    <%- include('components/createTransactionTile') -%>
    <ul class="list-group transactionsDash my-2">
      <% if (accountTransactions.length) { %>
        <% for (let i = 0; i < accountTransactions.length; i++) { %>
          <%- include('components/transactionLineItem', {account: account, balanceType: account.balanceType, currency: user.currency, transaction: accountTransactions[i], offset, formatRelative, addMinutes}) -%>
        <% } %>
      <% } %>
    </ul>

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
    </div>
  </div>

</div>

<%- include('components/footer') -%>
