<%- include('components/header') -%>

<% let accountTransactions = [] %>
<% if (account.debits.length > 0) { %>
  <% accountTransactions = accountTransactions.concat(account.debits) %>
<% } %>
<% if (account.credits.length) { %>
  <% accountTransactions = accountTransactions.concat(account.credits) %>
<% } %>
<% if (accountTransactions.length) { %>
  <% accountTransactions.sort((a, b) => a.date - b.date) %>
<% } %>

<% const today = new Date() %>

<% const offset = today.getTimezoneOffset() %>

<%- include('partials/modal') -%>
<div class="container d-flex flex-column align-items-center">

  <div class="row d-flex justify-content-between my-5 col-sm-12 col-lg-8 accounts-dash" data-type="account" data-account-id="<%= account._id %>">
    <div class="col-8 d-flex flex-column justify-content-between">
      <h2 class="d-flex align-items-center">
        <% if (!accountTransactions.length) { %>
          <button type="button" class="btn btn-secondary btn-sm delete-account" data-bs-toggle="modal" data-bs-target="#mainModal" data-action="delete" aria-label="Delete account">
            <i class="fa-solid fa-circle-minus"></i>
          </button>
        <% } %>
        <span class="accountName"><%= account.name %></span>
        <form action="updateAccount/<%= account._id %>" method="get">
          <button class="edit-account btn"><i class="fa-solid fa-pen"></i></button>
        </form>
      </h2>
      <p>Account Type: <span class="accountType"><%= account.type[0].toUpperCase() + account.type.slice(1) %></span></p>
    </div>
    <div class="col-4 d-flex flex-column justify-content-between align-items-end">
      <h2 class="accountBalance"><%= user.currency %><%= account.currentBalance %></h2>
      <p>Available Balance</p>
    </div>
  </div>
  <div class="row col-sm-12 col-lg-8">
    <p>Transactions <%- include('components/button/createTransactionaButton', {accountId: account._id}) %></p>
    <ul class="list-group transactionsDash my-2">
      <% if (accountTransactions.length) { %>
        <% for (let i = 0; i < accountTransactions.length; i++) { %>
          <%- include('components/transactionLineItem', {account: account, balanceType: account.balanceType, currency: user.currency, transaction: accountTransactions[i], offset, formatRelative, addMinutes}) -%>
        <% } %>
      <% } %>
    </ul>

  </div>

</div>

<script>
  var categories = <%- JSON.stringify(user.categories.map(cat => cat.name)) %>
  var accounts = <%- JSON.stringify(user.accounts) %>
</script>

<%- include('components/footer') -%>
