<%- include('partials/header') -%>

<% let accountTransactions = [] %>
<% if (account.debits.length > 0) { %>
  <% accountTransactions = accountTransactions.concat(account.debits) %>
<% } %>
<% if (account.credits.length) { %>
  <% accountTransactions = accountTransactions.concat(account.credits) %>
<% } %>
<% if (accountTransactions.length) { %>
  <% accountTransactions.sort((a, b) => a.date - b.date) %>
<% } %>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2>
        <% if (!account.debits.length && !account.debits.length) { %>
          <form action="/account/deleteAccount/<%= account._id%>" method="post">
            <button class="delete-account btn" type="submit"><i class="fa-solid fa-circle-minus"></i></button>
          </form>
        <% } %>
        <%= account.name %> 
        <form action="updateAccount/<%= account._id %>" method="get">
          <button class="edit-account btn"><i class="fa-solid fa-pen"></i></button>
        </form>
      </h2>
      <p>Account Type: <%= account.type[0].toUpperCase() + account.type.slice(1) %></p>
      <p>Current Balance: <strong><%= user.currency %><%= account.currentBalance %></strong></p>
      <% if (accountTransactions.length) { %>
        <p>Transactions</p>
        <ul class="transactions-list">
          <% for (let i = 0; i < accountTransactions.length; i++) { %>
            <% let incDec = null %>
            <% const transaction = accountTransactions[i]%>
            <% let transactionFoundInDebits = false %>
            <% if (account.debits.length > 0) transactionFoundInDebits = account.debits.filter(t => t._id == transaction._id).length > 0 %>
            <% if (account.balanceType == 'asset') { %>
              <% if (transactionFoundInDebits) { %>
                <% incDec = "+" %>
              <% } else { %> 
                <% incDec = "-" %>
              <% } %>
            <% } else { %>
              <% if (transactionFoundInDebits) { %>
                <% incDec = "-" %>
              <% } else { %> 
                <% incDec = "+" %>
              <% } %>
            <% } %>
            <li>
              <form action="/transaction/deleteTransaction/<%= transaction._id %>" method="post">
                <button class="delete-transaction btn btn-secondary" type="submit"><i class="fa-solid fa-circle-minus"></i></button>
              </form>
              <span><%= transaction.date.toLocaleDateString(undefined, { day: 'numeric', month: 'numeric', year: 'numeric' }) %></span> |
              <span><%= transaction.category.name %></span> |
              <span><%= incDec %><%= user.currency %><%= transaction.amount %></span>
              <form action="/transaction/update/<%= transaction._id %>" method="get">
                <button class="edit-transaction btn btn-primary" type="submit"><i class="fa-solid fa-pen"></i></button>
              </form>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <p>No transactions logged.</p>
      <% } %>
      <form action="/transaction/post/<%= account._id %>" method="get">
        <label for="track-transaction">Track a transaction</label>
        <button class="btn btn-primary" id="track-transaction"><i class="fa-solid fa-receipt"></i></button>
      </form>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
