<%- include('components/header') -%>
<div class="container">

  <div class="row">
    <%- include('components/navbar') -%>
    
    <%- include('components/profileGreeting', { user: user }) -%>

    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <%- include('partials/forecastsDash', { user: user }) -%>
    <%- include('partials/accountsDash', { user: user }) -%>
  </div>
</div>

<%- include('components/footer') -%>