<%- include('partials/header') -%>
<% const totalAssets = user.accounts.reduce((accumulator, account) => { %>
  <% if (account.balanceType === 'asset') return accumulator += Number(account.currentBalance) %>
  <% return accumulator %>
<% }, 0) %>
<% let sortedForecasts = null %>
<% if (user.forecasts.length > 0) {%>
    <% sortedForecasts = user.forecasts.sort((a, b) => a.date - b.date) %>
<% } %>
<div class="container">
  <div class="row mt-5">
      <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
      <% } %>
      <% if (locals.messages.info) { %>
          <% messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
          <% }) %>    
      <% } %>
      <div class="col-6">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
          <!-- Display available funds until next inflow net of forecasted outflows -->
          
          <% if (sortedForecasts) {%>
            
            <ul class="row list-unstyled">
              <% for (let i = 0; i < sortedForecasts.length; i++) {%>
                <li class="col-6 mt-5">
                  <%= sortedForecasts[i].date.toLocaleDateString() %>
                  <%= sortedForecasts[i].category.name %>
                  <% if (sortedForecasts[i].accountingType === 'debit') { %>
                    +
                  <% } else { %>
                    -
                  <% } %>
                  <%= user.currency %><%= sortedForecasts[i].amount %>
                  <button class="edit-forecast btn btn-primary">Edit</button>
                  <button class="delete-forecast btn btn-secondary">Delete</button>
                </li>
              <% } %>
            </ul>
          <% } else { %>
            <p>You have currently have <%= user.currency %><%= totalAssets %> in checking, savings, and cash.</p>
            <p>Add a forecast to see how bills and commitments affect how much you actually have to spend until you next get paid.</p>
          <% } %>
          <!-- create forecast form -->
          <%- include('partials/createforecast') -%>
      </div>
      <div class="col-6">
        <% if (user.accounts.length > 0) { %>
          <% const assets = user.accounts.filter(account => account.balanceType === 'asset') %>
          <% const liabilities = user.accounts.filter(account => account.balanceType === 'liability') %>
          <ul class="row list-unstyled">
            <% for(var i=0; i < assets.length; i++) {%>
              <li class="col-6 mt-5" id="<%= assets[i]._id %>">
                <a href="/account/<%= assets[i]._id%>">
                  <%= assets[i].name %>
                </a>
                <% const thisBalance = assets[i].currentBalance %>
                <%= user.currency %><%= thisBalance %>
                <a href="/transaction/post/<%= assets[i]._id %>" class="show-transaction-form">+</a>
              </li>
            <% } %>
          </ul>
          <ul class="row list-unstyled">
            <% for(var i=0; i<liabilities.length; i++) {%>
              <li class="col-6 mt-5" id="<%= liabilities[i]._id %>">
                <a href="/account/<%= liabilities[i]._id%>">
                  <%= liabilities[i].name %>
                </a>
                <% const thisBalance = liabilities[i].currentBalance %>
                <%= user.currency %><%= thisBalance %>
                <a href="/transaction/post/<%= liabilities[i]._id %>" class="show-transaction-form">+</a>
              </li>
            <% } %>
          </ul>
        <% } %>
        <form action="account/createAccount" method="post">
        <% if (user.accounts.length === 0) {%>
          Create an account to track start tracking your finances.
        <% } else { %>
          Create another account to track.
        <% } %>
            <!-- Name -->
            <p>
              <label for="createAccountName">Name</label>
              <input type="text" name="createAccountName" id="createAccountName" autocomplete="off">
            </p>
            
            
            <!-- Type -->
            <p>
              <label for="createAccountType">Type</label>
              <select name="createAccountType" id="createAccountType">
                <option value="savings">Savings</option>
                <option value="checking">Checking</option>
                <option value="cash">Cash</option>
                <option value="credit-card">Credit Card</option>
                <option value="loan">Loan</option>
              </select>
            </p>
            
            <!-- Beginning Balance -->
            <p>
              <label for="createAccountBalance">Beginning balance</label>
              <%= user.currency %><input type="number" step="0.01" min="0" name="createAccountBalance" id="createAccountBalance" placeholder="0.00" autocomplete="off">
            </p>
            
            <button type="submit" class="btn btn-primary">
              <% if (user.accounts.length === 0) { %>
                Create your account
              <% } else { %> 
                Create account
              <% } %>
            </button>

          </form>

        <!-- <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>   -->
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>