<%- include('components/header-member') -%>

<div class="container" data-user-id="<%= user._id %>">

  <%- include('components/profileGreeting', { user }) -%>
  <%- include('partials/modal') -%>
  
  <div class="row">
    
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>
    <% } %>

    <%- include('partials/accountsDash', { user }) -%>

    <%- include('partials/forecastsDash', { user }) -%>
  
  </div>

</div>

<script>
  var categories = <%- JSON.stringify(user.categories.map(cat => cat.name)) %>
  var accounts = <%- JSON.stringify(user.accounts) %>
</script>
<%- include('components/footer') -%>