<a
    class="btn<%= (btn.hasOwnProperty('class')) ? ' ' + btn.class : '' %>"
    role="button"
    data-bs-toggle="modal"
    data-bs-target="#mainModal"
    data-type=<%=  (btn.hasOwnProperty('data-type')) ? btn["data-type"] : '' %>
    data-action=<%=  (btn.hasOwnProperty('data-action')) ? btn["data-action"] : '' %>
>
    <% if (btn.hasOwnProperty('icon')) { %>
        <i class="<%= btn.icon.class %>"></i>
    <% } %>
    <%= (btn.hasOwnProperty('icon') && btn.hasOwnProperty('text')) ? ' ' : '' %>
    <%= (btn.hasOwnProperty('text')) ? btn.text : '' %>
</a>